################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net6.0-windows/Content/Content
/bin/Debug/net6.0-windows/Content
/bin/Debug/net6.0-windows
/Content
/obj
/bin/Release/net6.0-windows
